# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# Movebank data
MovebankDatasets/e-ObsGPRSHimalayanGriffon-Bhutan-MPIAB/
MovebankDatasets/EurasianGriffonVultures1HzHUJ(Israel)/
MovebankDatasets/Griffonvulture[fdlmes.gr]/
MovebankDatasets/GriffonVultureAlbstadtSalzburg(Gypsi)/
MovebankDatasets/High-altitudeflightsofHimalayanvultures(datafromSherubetal.2016)/
MovebankDatasets/LifeTrackGriffonVultureCroatia/
MovebankDatasets/Long-rangeadultmovementsof3vulturespecies(datafromSpiegeletal.2015)/
MovebankDatasets/RaptorsNABUMoessingenpublic/
MovebankDatasets/SoaringflightinEurasiangriffonvultures(HUJ)(datafromHarelandNathan,2018)/

# WorldClimData
WorldClimDatasets/wc2.1_2.5m_prec_2010-2018
WorldClimDatasets/wc2.1_2.5m_tmax_2010-2018

# Final datasets
FinalDatasets/Coordinates
FinalDatasets/Weather
